<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" /> 
	<title>标题</title>
	<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
	<link href="/static/carousel/owl.carousel.css" rel="stylesheet">
	<link href="/static/carousel/owl.theme.css" rel="stylesheet">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/daiyanbao.js"></script>
	<script src="/static/carousel/owl.carousel.js"></script>
	<script>
		$(function(){
			$('.owl-carousel').owlCarousel({
				items: 1,
				autoPlay: true
			});
		});
	</script>
</head>
<body>
<div id="container">
	<div class="headers">
		<div class="header_top">
			<div class="header_contact">
				<strong class="header_contact_down">15871722717</strong>
			</div>
		</div>
		<div id="header">
			<ul id="menu">
				<li><a href="/main">首页</a></li>
				<li><a href="/about">关于程力</a></li>
				<li><a href="/product/ALL">产品中心</a></li>
				<li><a href="/news">待定</a></li>
				<li><a href="/contact">联系我们</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="owl-demo" class="owl-carousel">
				<li class="item"><img src="/static/img/slide-1.jpg"></li>
				<li class="item"><img src="/static/img/slide-2.jpg"></li>
				<li class="item"><img src="/static/img/slide-3.jpg"></li>
		</div>
		<div class="product">
			<div class="product_top">
				<img src="/static/img/product.gif">	
			</div>
			<div class="product_bottom">
				<div class="products product_left">
					<div class="sub01"><img src="/static/img/productA.jpg"></div>
					<div class="product_des">
						<h2>A型</h2>
						<p>自身没有动力系统，通常需要排量在1.6L以上的轿车、SUV为牵引车来牵引行驶，手续齐全的小型拖挂式房车可以在高速路上合法行驶。</p>
						<a href="/product/A" target="_blank" class="btn_green"><font class="icon_next">查看详情</font></a>
					</div>
				</div>
				<div class="products product_middle1">
					<div class="sub01"><img src="/static/img/productB.jpg"></div>
					<div class="product_des">
						<h2>B型</h2>
						<p>针对原有空间进行内部改装，基本上不改动原车箱体部分，相对C类房车节省箱体重建费用，车辆上蓝牌，C1驾照即可驾驶。</p>
						<a href="/product/B" target="_blank" class="btn_green"><font class="icon_next">查看详情</font></a>
					</div>
				</div>
				<div class="products product_middle2">
					<div class="sub01"><img src="/static/img/productC.jpg"></div>
					<div class="product_des">
						<h2>C型</h2>
						<p>在二类底盘上重建箱体，改装空间更大、更自由，相对来说属于较实用的房车类型，车辆上蓝牌，C1驾照即可驾驶。</p>
						<a href="/product/C" target="_blank" class="btn_green"><font class="icon_next">查看详情</font></a>
					</div>
				</div>
				<div class="products product_right">
					<div class="sub01"><img src="/static/img/productD.jpg"></div>
					<div class="product_des">
						<h2>配件</h2>
						<p>不同的车型会有丰富的选装方案，不同的选装件带来的使用体验也是完全不同的，丰富的选装让您的爱车充满个性，无与伦比！</p>
						<a href="/product/D" target="_blank" class="btn_green"><font class="icon_next">查看详情</font></a>
					</div>
				</div>
			</div>
			<div class="down"><img src="/static/img/down.gif"></div>
		</div>
		<div id="middle01">
			<div class="middle01_top">
				<h3>我们的<span>优势</span></h3>
			</div>
			<div class="middle01_bottom">
				<div class="a01 b01">
					<img src="/static/img/ico_img01.png">
					<div>
						<img src="/static/img/ico_title01.png">
						<p>程力专用汽车股份有限公司销售十分公司坐落于炎帝神农故里，编钟古乐之乡，“中国专用汽 车之都”——湖北省随州市南郊平原岗程力汽车工业园，是国内知名园林绿化、石油化工、市政环卫、压力容器专用汽车制造商，自成立以来致力于各项专用汽车行业，产品遍及世界各地。</p>
					</div>
				</div>
				<div class="a02 b01">
					<div>
						<img src="/static/img/ico_title02.png">
						<p>程力专用汽车股份有限公司销售五分公司主导产品有园林绿化洒水车、油罐车、吸污车、吸粪车、扫路车、清障车、消防车、高空作业车、高压清洗车等多种车型，涵盖专用车品种的各个领域；其中以洒水车价格为代表的优惠对比凸显优势，同类产品中技术领先，质量过硬，洒水车价格更优惠。</p>
					</div>
					<img src="/static/img/ico_img02.png">
				</div>
				<div class="a03 b01">
					<div>
						<img src="/static/img/ico_title03.png">
						<p>程力专用汽车股份有限公司销售五分公司技术力量雄厚，检测手段完备，拥有大型设备750台（套）及16条总装生产线；公司现已全面通过ISO9001-2008国际质量体系认证，产品全部通过3C国际强制产品认证，并通过出口产品的各项认证；质量及各项技术远高于行业内平均水平。</p>
					</div>
					<img src="/static/img/ico_img03.png">
				</div>
				<div class="a04 b01">
					<div>
						<img src="/static/img/ico_title04.png">
						<p>程力专汽的服务宗旨是：以质量求生成，以信誉谋发展；诚信待人，灵活经营，高质低价。程力专汽公司承诺：反属本公司生产销售的产品，底盘部分全国服务站均可联保，专用部分三包服务一年，售后服务四十八小时到位处理，终身负责维修并提供终身免费技术服务。</p>
					</div>
					<img src="/static/img/ico_img04.png">
				</div>
			</div>
		</div>
		<div id="middle02">
			<div class="middle02_top">
				<div>
					<h3>房车旅游有哪些好处？</h3>
					<p>在这个以旅游为快速发展的时代，自驾出行成了大家普遍的旅行方式  房车旅行不仅满足了游客的享乐需要，它也是一种健康环保的旅行方式。在西方的一些著名风景区，正是因为有了房车营地，游人们才不会被诸多钢筋混凝土修筑的高大度假酒店遮住视野、影响了度假放松的心情，才能较大程度地接近原生态的历史与自然风光。</p>
				</div>
			</div>
			<div id="owl-demo02" class="owl-carousel">
				<div class="owl-demo-container">
					<div class="half-width">
						<img src="/static/img/section-image-1.png">
					</div>
					<div class="half-width">
						<div>
							<h4>房车更自由</h4>
							房车不仅能提供自由化、个性化、知识化的旅游，而且还能提供休闲、探险活动方式，让人在没有压力的情况下，纵情山水，自由度假。
						</div>
						<div>
							<h4>房车更方便</h4>
							受国内交通、住宿、餐饮等接待能力的限制，中国休闲市场需要房车这样一种提供一体化服务的休闲工具。一项调查表明，在出游不满意的服务中，住宿名列榜首。房车的出现，可以全面解决交通、住宿、餐饮等问题。
						</div>
						<div>
							<h4>房车更经济</h4>
							美国近期一项调查显示，房车与其他旅行方式相比，对于一个四口之家，驾房车旅游比驾驶轿车住酒店旅行要节省50%的费用，比乘飞机住酒店节省75%的费用，在一些高端消费来说，经济上很有竞争力。
						</div>
					</div>
				</div>
				<div class="owl-demo-container">
					<div class="half-width">
						<div>
							<h4>房车更舒适</h4>
							房车就像一个酒店客房，卧床、厨房、洗手间一应俱全，可以使用自己惯常的生活用品，无论到哪里都有一种在家的感觉。
						</div>
						<div>
							<h4>房车更卫生</h4>
							房车一般4～6个人居住，一家出行，生活习惯相近，许多事情可以在车上自己完成，卫生条件比常规旅游好。
						</div>
						<div>
							<h4>不仅是“车”，更是“房”</h4>
							随着国内一些一线城市房价的不断上涨，外出务工或常年在外工作的人，与其花几十、几百万买一套房，还不如买一辆房车更划算。尤其是B型车，工作时她可以是您代步的工具，休息时她可以是您舒适的家，旅行时她可以是您的“移动酒店”。
						</div>
					</div>
					<div class="half-width">
						<img src="/static/img/section-image-2.png">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="footer01">
			<div id="header">
				<ul id="menu">
					<li><a href="/main">首页</a></li>
					<li><a href="/about">关于程力</a></li>
					<li><a href="/product/ALL">产品中心</a></li>
					<li><a href="/main.html">待定</a></li>
					<li><a href="/contact">联系我们</a></li>
				</ul>
			</div>
			<div class="copyright">
				销售热线：15871722717&nbsp;&nbsp;&nbsp;&nbsp;联 系 人：<b class="red">刘某某</b>（先生）<br/>
			     版权所有 &copy;2019 程力专用汽车股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;公司地址：湖北省随州市南郊程力汽车工业园<br />
			      公司网址：<a href="http://www.fangche1314.com/" target="_blank">http://www.fangche1314.com/</a>&nbsp;&nbsp;&nbsp;&nbsp;手机号码：17786713456 <a href="http://www.fangche1314.com" target="_blank">&nbsp;&nbsp;网站首页</a>&nbsp;&nbsp;
		        <div>
		        	<img src="/static/img/batb.png"><p>鄂公网安备42130202004423号</p>
		        </div>
			</div>			
		</div>
		<div class="footer02">
			<div class="footer02_main">
				<table>
					<tbody>
						<tr>
							<td></td>
							<td><a href="tencent://message/?uin=281892714&Site=客服&Menu=yes" target="_blank"><img src="/static/img/footer01.gif"></a></td>
							<td><img src="/static/img/footer02.gif"></td>
							<td><a href="#top"><img src="/static/img/footer03.gif"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="ad">
	<div id="zxd_x">
		<div class="ad01">
			<div class="ad011">
				<p>本月促销：依维柯、上汽大通等房车，欢迎咨询选购，厂家销售热线：158-7172-2717</p>
			</div>
			<div class="ad012">
				<button class="button">稍后再说</button>
				<button><a href="tencent://message/?uin=281892714&Site=客服&Menu=yes">现在咨询</a></button>
			</div>
		</div>
	</div>
</div>
<div id="daiyanbao_com_content" style="position:fixed;bottom: 30px;right: 10px;">
</div>
</body>
</html>