<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" /> 
	<title>标题</title>
	<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/daiyanbao.js"></script>
</head>
<body>
<div id="products_container">
	<div class="header_top">
		<div class="header_contact">
			<strong class="header_contact_down">15871722717</strong>
		</div>
	</div>
	<div id="header">
		<ul id="menu">
			<li><a href="/main">首页</a></li>
			<li><a href="/about">关于程力</a></li>
			<li><a href="/product/ALL">产品中心</a></li>
			<li><a href="/news">网站首页</a></li>
			<li><a href="/contact">联系我们</a></li>
		</ul>
	</div>
	<div class="product_main">
		<div class="product_main_left">
			<div class="product_main_left_title"></div>
			<div class="product_main_left_middle">
				<ul>
					<li><a href="/product/A">A型</a></li>
					<li><a href="/product/B">B型</a></li>
					<li><a href="/product/C">C型</a></li>
					<li><a href="/product/D">配件</a></li>
				</ul>
			</div>
		</div>
		<div class="product_main_right">
			<div class="product_main_right_title">
				<p>产品中心</p>
			</div>
			<div class="product_main_content">
				{% for car in cars%}
				<div class="main_products">
					<div class="main_products_img">
						<a href="/product/{{car.id}}" target="_blank"><img src="/static/{{car.img}}"></a>
					</div>
					<div>
						<h2>{{car.name}}</h2>
						<p>{{car.introduction}}</p>
						<a href="/product/{{car.id}}" class="btn_green" target="_blank"><font class="icon_next">查看详情</font></a>
					</div>
				</div>
				{% endfor %}
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="footer01">
			<div id="header">
				<ul id="menu">
					<li><a href="/main">首页</a></li>
					<li><a href="/about">关于程力</a></li>
					<li><a href="/product/ALL">产品中心</a></li>
					<li><a href="/news">待定</a></li>
					<li><a href="/contact">联系我们</a></li>
				</ul>
			</div>
			<div class="copyright">
				销售热线：15871722717&nbsp;&nbsp;&nbsp;&nbsp;联 系 人：<b class="red">刘某某</b>（先生）<br/>
			     版权所有 &copy;2019 程力专用汽车股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;公司地址：湖北省随州市南郊程力汽车工业园<br />
			      公司网址：<a href="http://www.fangche1314.com/" target="_blank">http://www.fangche1314.com/</a>&nbsp;&nbsp;&nbsp;&nbsp;手机号码：17786713456 <a href="http://www.fangche1314.com" target="_blank">&nbsp;&nbsp;网站首页</a>&nbsp;&nbsp;
		        <div>
		        	<img src="/static/img/batb.png"><p>鄂公网安备42130202004423号</p>
		        </div>
			</div>			
		</div>
		<div class="footer02">
			<div class="footer02_main">
				<table>
					<tbody>
						<tr>
							<td></td>
							<td><a href="tencent://message/?uin=281892714&Site=客服&Menu=yes"><img src="/static/img/footer01.gif"></a></td>
							<td><img src="/static/img/footer02.gif"></td>
							<td><a href="#top"><img src="/static/img/footer03.gif"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="ad">
	<div id="zxd_x">
		<div class="ad01">
			<div class="ad011">
				<p>本月促销：依维柯、上汽大通等房车，欢迎咨询选购，厂家销售热线：158-7172-2717</p>
			</div>
			<div class="ad012">
				<button class="button">稍后再说</button>
				<button><a href="tencent://message/?uin=281892714&Site=客服&Menu=yes">现在咨询</a></button>
			</div>
		</div>
	</div>
</div>
<div id="daiyanbao_com_content" style="position:fixed;bottom: 30px;right: 10px;">
</div>
</body>
</html>